---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'
import { getAllProjects } from '@/lib/data-utils'
import { getPostsByTag } from '@/lib/data-utils'
import { getPostsByAuthor } from '@/lib/data-utils'
import ProjectCard from '@/components/ProjectCard.astro'
import StackedSinWaves from "@/components/StackedSinWaves.jsx";
import DoomFlame from "@/components/DoomFlame.jsx";

const projects = await getPostsByAuthor('isaiah')
const blog = await getPostsByAuthor('isaiah')
const blog2 = await getRecentPosts(SITE.featuredPostCount)
const taggedPosts = await getPostsByTag('Project')
---

<Layout>
<section class="flex justify-center items-center py-10">
  <div class="rounded-lg border w-full">
    <div class="flex flex-col space-y-1.5 p-6 w-full">
      <video 
        autoplay 
        loop 
        muted 
        playsinline 
        class="w-full h-auto rounded-xl shadow-lg"
      >
        <source src="/animations/bisonrun2.webm" type="video/webm" />
        Your browser does not support WebM.
      </video>
    </div>
  </div>
</section>

 <!-- <section> 
 <div class="rounded-lg border">
      <div class="flex flex-col space-y-1.5 p-6">
        <StackedSinWaves client:only/>      
      </div>
  </div>
</section>
-->

  <PageHead slot="head" title="Home" />
  <section>
    <div class="rounded-lg border">
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="text-3xl leading-none font-medium">Welcome to my site :)</h3>
      </div>
      <div class="p-6 pt-0">
        <p class="text-muted-foreground text-sm">
          I just put up some of the work I do, mainly: projects // notes
        </p>
        <p class="text-muted-foreground text-sm">
         I'm a current Computer Science student at ASU, honing in my interests towards renewable energy ☀ and research 🔬.
        </p>
      </div>
    </div>
  </section>
  
  <section class="flex flex-col gap-y-4"
    <h3> </h3>
    <h2 class="text-2xl font-medium"> Latest projects</h2>
    <ul class="flex flex-col gap-y-4">
      {
        taggedPosts.slice(0,2).map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>

    <h2 class="text-2xl font-medium"> Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>

    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
